.footer a {
    transition: .3s;
  }
  
.footer a:hover,
  a:active,
  a:focus {
    outline: none;
    text-decoration: none;
  }
  
  .footer {
    position: relative;
    padding-top: 45px;
    background: #ffffff;
    color: #221b68;
  }
  
  .footer .newsletter {
    position: relative;
    max-width: 900px;
    margin: 0 auto 45px auto;
    padding: 30px 15px;
    background: #000000;
    text-align: center;
  }
  
  .footer .newsletter h2 {
    color: #221b68;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .footer .newsletter .form {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .footer .newsletter input {
    height: 50px;
    border: 2px solid #cdcdcd;
    border-radius: 0;
  }
  
  .footer .newsletter .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #221b68;
    background: #121518;
    border-radius: 0;
    border: 2px solid #221b68;
    transition: .3s;
  }
  
  .footer .newsletter .btn:hover {
    color: #ffffff;
    background: #221b68;
  }
  
  .footer .newsletter .btn:focus {
    box-shadow: none;
  }
  
  .footer .footer-about,
  .footer .footer-link,
  .footer .footer-contact {
    position: relative;
    margin-bottom: 45px;
    /* color: #221b68; */
  }
  
  .footer .footer-about h3,
  .footer .footer-link h3,
  .footer .footer-contact h3{
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #221b68;
  }
  
  .footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #221b68;
    transition: .3s;
    text-transform: capitalize;
  }
  
  /* .footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
  } */
  
  .footer .footer-link a:hover {
    color: #221b68;
    letter-spacing: 1px;
  }

  .footer .footer-link li{
    list-style-type: none;
  }
  
  .footer .footer-contact p i {
    width: 25px;
  }
  
  .footer .footer-social {
    position: relative;
    margin-top: 20px;
  }
  
  .footer .footer-social a {
    display: inline-block;
  }
  
  .footer .footer-social a i {
    margin-right: 15px;
    font-size: 18px;
    color: #221b68;
  }
  
  .footer .footer-social a:last-child i {
    margin: 0;
  }
  
  .footer .footer-social a:hover i {
    color: #221b68;
  }
  
  .footer .footer-menu .f-menu {
    position: relative;
    padding: 10px 0;
    font-size: 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
  }
  
  .footer .footer-menu .f-menu a {
    color: #221b68;
    font-size: 16px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
  }
  
  .footer .footer-menu .f-menu a:hover {
    color: #221b68;
  }
  
  .footer .footer-menu .f-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }
  
  .footer .copyright {
    padding: 30px 15px;
  }
  
  .footer .copyright p {
    margin: 0;
    color: #221b68;
  }
  
  .footer .copyright .col-md-6:last-child p {
    text-align: right;
  }
  
  .footer .copyright p a {
    color: #221b68;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .footer .copyright p a:hover {
    color: #ffffff;
  }

  .footer .footerInstaFeed{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
.footerInstaFeed #instaFeedImage{
  padding: 0.5rem;
  border-radius: 18px;
  width: 6rem;
}

  @media (max-width: 768px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
      margin: 5px 0;
      text-align: center;
    }
  }
  