@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: 'Oswald', sans-serif;
}
#wrapper{
   margin-top: 5rem;
}
.top{
    width: 100vw;
    height: 40vh;
    /* border: 4px solid rgb(217, 19, 19); */
    background:linear-gradient(157deg,#e100ff8c 0%,rgba(128, 0, 255, 0.884) 100%) ,url(./img/asset\ 11.jpeg);
    background-size: cover;
    text-align: center;
    /* background-position: center; */
}

.head .heading1{
    margin-top: 4rem;
    /* border: 4px solid rgb(217, 19, 19); */

}
.head .heading1{
    color: White;
    text-align: center;

   
}

.head .heading2{
    color: White;
    text-align: center;
    /* margin-top: 2rem; */
}
.content-box .para1{
    color: blueviolet;
    text-align: center;
    margin-top: 4rem;
}
.content-box .heading3{
    color: rgb(128,0,255);
    text-align: center;
    margin-top: 1rem;
}
.h3{
    color: red;
}
.content-box .para2{
    color: white;
    text-align: center;
    margin-top: 1rem;
}
/* img card */



/* Start */

.sec-icon {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
  }
  
  .sec-icon::before {
    content: "";
    position: absolute;
    height: 1px;
    left: -70px;
    margin-top: -5.5px;
    top: 60%;
    background: #333333;
    width: 50px;
  }
  
  .sec-icon::after {
    content: "";
    position: absolute;
    height: 1px;
    right: -70px;
    margin-top: -5.5px;
    top: 60%;
    background: #333;
    width: 50px;
  }
  
  .advertisers-service-sec {
    background-color: #f5f5f5;
  }
  
  .advertisers-service-sec span {
    color: rgb(255, 23, 131);
  }
  
  .advertisers-service-sec .col {
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  
  .advertisers-service-sec .service-card {
    width: 100%;
    height: 100%;
    /* padding: 2em 1.5em; */
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: #fff;
  }
  
  .advertisers-service-sec .service-card::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(#0dcaf0, rgb(255, 23, 131));
    position: absolute;
    left: 0%;
    top: -98%;
    z-index: -2;
    transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
  }
  
  .advertisers-service-sec h3 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #1f194c;
    margin: 2em 0;
    z-index: 3;
  }
  
  .advertisers-service-sec p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    z-index: 3;
  }
  
  .advertisers-service-sec .icon-wrapper {
    background-color: #2c7bfe;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2em;
    width: 2em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
    z-index: 3;
  }
  
  .advertisers-service-sec .service-card:hover:after {
    top: 0%;
  }
  
  .service-card .icon-wrapper {
    background-color: #ffffff;
    color: rgb(255, 23, 131);
  }
  
  .advertisers-service-sec .service-card:hover .icon-wrapper {
    color: #0dcaf0;
  }
  
  .advertisers-service-sec .service-card:hover h3 {
    color: #ffffff;
  }
  
  .advertisers-service-sec .service-card:hover p {
    color: #f0f0f0;
  }

.service-card .img1{
    width: 20rem;
    height: 20rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.service-card .img2{
    width: 20rem;
    height: 20rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.service-card .img3{
    width: 20rem;
    height: 20rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.service-card .img4{
    width: 20rem;
    height: 20rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.service-card .img5{
    width: 20rem;
    height: 20rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.service-card .img6{
    width: 20rem;
    height: 20rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    /* margin-bottom: 15rem; */
}

.service-card .btn{
    width: 5rem;
    height: 2rem;
    background-color:rgba(0, 136, 255, 0.831);
    margin-bottom: 1rem;
    text-align: center;
    color: white;
}
  /* ADVERTISERS SERVICE CARD ENDED */
  